body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#topnav a {

    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 18px;
    text-decoration: none;
    font-size: 14px;
}

#topnav {
    overflow: hidden;
    height: 40px;
    background-color: #333;
    text-decoration: none;
}


.avada_class {
    letter-spacing: 10px;
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.high {
    letter-spacing: 4px;
    font-family: monospace;
    font-size: 10px;
    font-weight: 600;
    padding: 0px 0px 0px 61px;
}

.custom_nav {
    padding: 15px 0px;
    background-color: orange;
    text-decoration: none;
}

.custom_h1 {
    margin: 0px !important;
}

.custom_header {
    width: 1150px;
    margin: auto;
}

.custom a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 31px 20px;
    text-decoration: none;
    font-size: 17px;
}

.handyman img {
    width: 100%;
}

.box1 img {
    width: 72%;
    padding: 0px 0px 0px 25px;
}

.box1 {


    height: 397px;
    float: left;
    /* background: rgb(199, 16, 16); */
    padding: 0px 0px 0px 30px;
    box-sizing: border-box;
    margin: 0px 64px 0px 108px;
    width: 58%;

}

.box2 {
    /* background: rgb(241, 187, 7); */
    height: 397px;
    padding: 0px 71px 0px 5px;
    width: 23%;

}

.box3 {
    /* background-color: green; */
    width: 32%;

}

.box3 img {
    width: 248px;
    padding: 0px 713px 13px 62px;
}

.box1 h4 {
    padding-left: 71px;
    margin-top: 37px;
}

.box2 h4 {
    padding-left: 122px;
}

.box3 h4 {
    padding: 0px 0px 0px 147px;
}

.gridbox {
    display: flex;
}

.box1 p {
    padding-left: 11px;
    line-height: 2;
}

.box2 p {
    line-height: 2;
    padding: 0px 2px 0px 27px;

}

.box3 p {
    line-height: 2;
    padding: 0px 2px 0px 84px;

}

.box1 span button {
    background-color: orange;
    border-radius: 25px;
    height: 46px;
    width: 131px;
    border: 0px;
}

.box1 span {

    padding-left: 67px;

}

.box2 img {
    width: 74%;
    padding: 0px 713px 13px 62px;

}

.box2 span button {
    background-color: orange;
    border-radius: 25px;
    height: 46px;
    width: 131px;
    border: 0px;
}

.box2 span {
    padding-left: 100px;
}

.box3 span button {
    background-color: orange;
    border-radius: 25px;
    height: 46px;
    width: 131px;
    border: 0px;
}

.box3 span {
    padding: 0px 0px 0px 136px;
}

@media only screen and (max-width: 600px) {
    #topnav {
        display: block;
    }

    #topnav a {
        display: block;
    }

    .custom a {
        display: block;
    }

    .custom_nav {
        display: block;
    }

}

.div3 span {
    padding: 0px 0px 0px 58px;
}

.div3 span b {
    font-size: 30px;
    line-height: 2;
}

.smallline {

    color: orange;
    margin: 8px 24px 25px 57px;
    width: 6%;
}

.high2 img {
    float: right;
    padding: 0px 47px 0px 0px;
    width: 49%;
}

.div3 {
    float: left;
}

.div3 ul {
    line-height: 3;
    padding: 0px 0px 0px 73px;
}

.best {
    float: left;
    background-color: white;
    width: 47%;
    padding: 26px 5px 32px 0px;
}

.best img {
    width: 91%;
    padding: 45px 0px 0px 37px;
}

.services {

    float: right;
    padding: 152px 172px 0px 0px;
}

.services span {
    letter-spacing: 4px;
    font-family: monospace;
    font-size: 10px;
    font-weight: 600;
}

.services b {
    font-size: 22px;
    line-height: 3;
}

.smallline2 {
    color: orange;
    margin: 7px 0px 0px 3px;
    width: 22%;

}

.services button {
    background-color: orange;
    border: 0px;
    width: 44%;
    border-radius: 15px;
    padding: 9px 3px 14px 0px;

}

.bigdiv {
    background-color: black;
}

.test {
    background-color: black;
    margin: 933px 10px 0px 11px;
    height: 771px;
}

.headline {
    color: white;
    font-size: 35px;
    padding: 0px 0px 0px 355px;
}

.test p {
    text-align: center;
    color: white;
}

.test1 {
    float: left;
    background-color: white;
    width: 0%;
    padding: 7px 71px 185px 412px;
    margin: 99px 0 4px 91px;
    opacity: 0.1;
}

.test2 {
    float: right;
    background-color: #f4f1f1;
    width: 0%;
    padding: 0px 71px 190px 446px;
    margin: -193px 77px 0px 165px;
    opacity: 0.1;


}

.test3 {
    float: left;
    background-color: white;
    width: 0%;
    padding: 7px 71px 185px 412px;
    margin: 99px 0 4px 91px;
    opacity: 0.1;
}

.test4 {
    float: right;
    background-color: #f4f1f1;
    width: 0%;
    padding: 0px 71px 190px 446px;
    margin: -193px 77px 0px 165px;
    opacity: 0.1;
}

.help {
    float: right;
    width: 41%;
}

.helpspan span {
    letter-spacing: 4px;
    font-family: monospace;
    font-size: 10px;
    font-weight: 600;
    padding: 0px 0px 0px 116px;
}

.we {
    margin: 0px 0px 0px 114px;

    font-size: 35px;
    line-height: 2;

}

.helpline {
    color: orange;
    margin: 20px 0px 0px 117px;
    width: 8%;

}

.helppara {
    margin: 44px;
    padding: 0px 0px 0px 69px;
}

.helpbox {
    width: 40%;
    border: 2px solid orange;
    margin: 32px 0px 0px 110px;
    padding: 36px 0px 15px 1px;

}

.helpbox p {
    padding: 0px 0px 0px 68px;
    margin: 0px 0px 15px 0px;
}

.helpbox2 {
    width: 40%;
    border: 2px solid orange;
    margin: 32px 0px 0px 110px;
    padding: 36px 0px 15px 1px;
}

.helpbox2 p {
    padding: 0px 0px 0px 68px;
    margin: 0px 0px 15px 0px;
}

.articles p {
    letter-spacing: 4px;
    font-family: monospace;
    font-size: 10px;
    font-weight: 600;
    padding: 0px 0px 0px 61px;
}

.articles b {
    font-size: 28px;
    padding: 0px 0px 0px 58px;

}

.news {
    color: orange;
    margin: 20px 0px 0px 59px;
    width: 5%;
}

.articles button {
    background-color: orange;
    float: right;
    border: 0px;
    width: 19%;
    border-radius: 15px;
    padding: 13px 0px 14px 0px;
    margin: -63px 72px 0px 0px;
}

.latest {
    width: 100%;
    display: inline-flex;

}

.samebox {
    width: 33.33%;

}

.mainimg {
    width: 256px;
    margin: 0px 0px 0px 76px;
}

.samebox h4 {
    margin: 27px 0px 0px 98px;
}

.words {
    font-size: 13px;
    margin: 20px 0px 0px 116px;

}

.mauris {
    color: orange;
    width: 7%;
   
    padding: 0px 0px 0px 20px;
    position: relative;
    left: -56px;
}

.line {
    color: orange;
    margin: 27px 0px 0px 162px;
    width: 14%;
}

.dummypara {
    margin: 8px 0px 0px 92px;
}

.readmore {
    background-color: orange;
    border-radius: 25px;
    height: 46px;
    width: 131px;
    border: 0px;
    margin: 38px 0px 0px 133px;
}

.plumbing {
    width: 256px;
    margin: 0px 0px 0px 76px;
}

.decoaring {
    width: 285px;
    margin: 0px 0px 0px 76px;
}

.contactform {
    width: 100%;
    /* border: 2px solid black; */
    height: 795px;

}

.form {
    width: 60%;
    /* border:2px solid red; */
    float: left;
}

.form p {
    letter-spacing: 3px;
    font-family: monospace;
    font-size: 10px;
    font-weight: 600;
    padding: 0px 0px 0px 61px;
}

.formline {
    color: orange;
    margin: 32px 0px 0px 59px;
    width: 10%;
}

.form b {
    font-size: 30px;
    padding: 0px 0px 0px 58px;
}

.inputbox {
    margin: 13px 0px 0px 60px;
    width: 113%;
    height: 34px;

}

.firstname {
    margin: 0px 0px 0px 57px;
}

.firstinput {
    margin: 14px 0px 0px 57px;
    width: 634px;
    height: 32px;

}

.surname {
    margin: 0px 0px 0px 56px;
}

.secondinput {
    margin: 9px 0px 0px 59px;
    width: 634px;
    height: 29px;
}

.email {
    margin: 27px 0px 0px 54px;
    width: 637px;
    height: 29px;
}

.youremail {
    margin: 0px 0px 0px 55px;
}

.telephone {
    margin: 0px 0px 0px 49px;
}

.thirdinput {
    margin: 0px 0px 0px 50px;
    width: 643px;
    height: 27px;
}

.your {
    margin: 0px 0px 0px 45px;
}

.fourinput {
    margin: 0px 0px 0px 48px;
    width: 645px;
    height: 77px;
}

.formbutton {
    background-color: orange;
    border-radius: 25px;
    height: 46px;
    width: 196px;
    border: 0px;
    margin: 38px 0px 0px 50px;
}

.testimonial {
    border: 2px solid orange;
    width: 34%;
    float: right;
    height: 493px;
    margin: 269px 34px 0px 0px;

}

.testimonial b {
    margin: 0px 0px 0px 120px;
}

.qualified {
    width: 100%;
    height: 80px;
    background-color: black;

}

.qualified b {
    color: orange;

    padding: 9px 0px 0px 55px;
    line-height: 5.5;
}

.qualified span {
    color: white;
    float: right;
    margin: 34px 53px 0px 0px;
}

.section {
    background-color: orange;
    height: 115px;
}

.section1 {
    letter-spacing: 7px;
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
    margin: 0px 0px 0px 69px;
    line-height: 6;

}

.handy {
    margin: -37px 0px 0px 67px;
}

.chatbutton {
    float: right;
    background-color: white;
    border-radius: 25px;
    height: 46px;
    width: 196px;
    border: 0px;
    margin: -45px 61px 0px 0px;
}

.book {
    float: right;
    background-color: black;
    border-radius: 25px;
    height: 46px;
    width: 196px;
    border: 0px;
    margin: -45px 41px 0px -21px;
    color: white;
}

.footer1 {
    width: 25%;
    /* border:2px solid red; */
}

.footerlist {
    margin: 64px 0px 0px 41px;

}

.footerlist li {
    list-style: none;
    line-height: 3;
}

.footer2 {
    width: 25%;
    /* border: 2px solid yellow; */
}

.footer3 {
    width: 25%;
    /* border: 2px solid green; */
}

.footer4 {
    width: 25%;
    /* border:2px solid blue; */
}

.footer {
    display: inline-flex;
    width: 100%;
}

.footerline {
    color: #e1e0e0;
    width: 1232px;
}

.copyright {
    margin: 0px 0px 0px 81px;
}
